:root {
  --primary-color: #1D3DB6;
  --secondary-color: #6c757d;
  --background-color: #F6F6F6;
  --text-color: #1B1B1B;
  --text-color-light: #A8A8A8;
  --success-color: #5CB85C;
  --danger-color: #D9534F;
  --warning-color: #F0AD4E;
  --info-color: #5BC0DE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

.todo-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  height: calc(100vh - 20rem);
  max-width: 600px;
  margin: 10rem auto;
}
.todo-app .welcome-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}
.todo-app .welcome-message__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.todo-app .welcome-message__icon img {
  width: 100%;
  height: auto;
}
.todo-app .welcome-message__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.todo-app .welcome-message__title {
  font-size: 3rem;
  font-weight: bold;
}
.todo-app .welcome-message__summary {
  font-size: 1.6rem;
}
.todo-app .welcome-message__summary .count {
  font-weight: bold;
}
.todo-app .todo-form {
  padding: 0rem;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border: 1px solid transparent;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
.todo-app .todo-form__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
}
.todo-app .todo-form__select {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--text-color-light);
  border: 1px solid transparent;
  background-color: transparent;
  flex: 1;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}
.todo-app .todo-form__input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--text-color-light);
  border: 1px solid transparent;
  background-color: transparent;
  flex: 3;
  outline: none;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}
.todo-app .todo-form__input::placeholder {
  color: var(--text-color-light);
}
.todo-app .todo-form textarea {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.4s;
}
.todo-app .todo-form__button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--background-color);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.5s;
}
.todo-app .todo-form:hover {
  height: auto;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.todo-app .todo-form:hover .todo-form__input {
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
}
.todo-app .todo-form:hover .todo-form__select {
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
}
.todo-app .todo-form:hover textarea {
  opacity: 1;
}
.todo-app .todo-form:hover .todo-form__button {
  opacity: 1;
}
.todo-app .todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}
.todo-app .todo-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  padding: 1rem;
}
.todo-app .todo-list__item--completed {
  opacity: 0.5;
}
.todo-app .todo-list__item--completed .todo-list__item-title {
  color: var(--success-color);
  text-decoration: line-through;
}
.todo-app .todo-list__item-input {
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  flex: 0.5;
}
.todo-app .todo-list__item-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  flex: 5;
}
.todo-app .todo-list__item-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
}
.todo-app .todo-list__item-category {
  padding: 0.2rem 0.5rem;
}
.todo-app .todo-list__item-category i {
  font-size: 1.6rem;
}
.todo-app .todo-list__item-title {
  font-size: 1.4rem;
}
.todo-app .todo-list__item-description {
  font-size: 1.2rem;
}
.todo-app .todo-list__item-button {
  width: 5rem;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--text-color-light);
  background-color: transparent;
  flex: 0.5;
  cursor: pointer;
}
.todo-app .todo-list__item-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=app.css.map */
